<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI1" />
            <remove name="FastCgiModuleXampp" />
            <add name="FastCgiModuleXampp" path="*php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v5.6.28._XAMP\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
